Service.Order/obj/*
Service.Order/bin/* 

Service.Partner/obj/*
Service.Partner/bin/* 

Service.Product/obj/*
Service.Product/bin/* 

Service.Stock/obj/*
Service.Stock/bin/* 
Service.Users/obj/*
Service.Users/bin/* 

Service.User/obj/*
Service.User/bin/* 

ApiGateway/obj/*
ApiGateway/bin/*

.vs

WebPortal/node_modules/*



