<div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Đơn hàng</nz-page-header-title>
        <nz-page-header-extra>
            <button nz-button nzType="primary" (click)="createClick()">Thêm mới</button>
        </nz-page-header-extra>
        <nz-page-header-content>
            <nz-table #nestedTable [nzData]="listOrderData" [nzPageSize]="10">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mã đơn hàng</th>
                        <th>Khách hàng</th> 
                        <th>Tổng tiền</th>
                        <th>Phương thức TT</th>
                        <th>Ngày bán</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
                        <tr>
                            <td [(nzExpand)]="data.expand"></td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.partnerId }}</td> 
                            <td>{{ data.total }}</td>
                            <td>{{ data.cashType =='cash'?'Tiền mặt':data.cashType =='pos'?'Quẹt thẻ':'Ngân hàng' }}
                            </td>
                            <td>{{ data.date | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                <ng-template [ngIf]="data.status == '1'">
                                    <span nz-typography nzType="success">Đã hoàn thành</span>
                                </ng-template>
                                <ng-template [ngIf]="data.status == '0'">
                                    <span nz-typography nzType="warning">Tạo mới</span>
                                </ng-template>
                            </td>
                        </tr>
                        <tr [nzExpand]="data.expand">
                            <nz-table #innerTable [nzData]="data.orderLines" nzSize="middle" [nzShowPagination]="false">
                                <thead>
                                    <tr>
                                        <th>Mã vạch</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Giá bán</th>
                                        <th>Tổng phụ</th>
                                    </tr>
                                </thead>
                <tbody>
                    <tr *ngFor="let data of innerTable.data">
                        <td>{{ data.barcode }}</td>
                        <td>{{ data.productId }}</td>
                        <td>{{ data.quantity }}</td>
                        <td>{{ data.price }}</td>
                        <td>{{ (data.price * data.quantity)}}</td>
                    </tr>
                </tbody>
            </nz-table>
            </tr>
            </ng-template>
            </tbody>
            </nz-table>
        </nz-page-header-content>
    </nz-page-header>
</div>