
<div class="site-page-header-ghost-wrapper">
    <form nz-form [nzLayout]="'vertical'"  [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-page-header nzBackIcon [nzGhost]="false">
            <nz-page-header-title>Cập nhật Nhóm sản phẩm</nz-page-header-title>
            <nz-page-header-extra>
                <button nz-button nzType="primary">Lưu lại</button>
            </nz-page-header-extra>
            <nz-page-header-content>
                <br />
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzFor="name">Tên nhóm sản phẩm</nz-form-label>
                            <nz-form-control style="padding-right: 8px;">
                                <input type="text"
                                    nz-input nzSpan="8"
                                    formControlName="name"
                                    [(ngModel)]="productCategoryData!.name">
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="12">
                        <nz-form-item>
                            <nz-form-label nzFor="status">Trạng thái</nz-form-label>
                            <nz-select [(ngModel)]="statusSelected" formControlName="status">
                                <nz-option nzValue="1" nzLabel="Hoạt động"></nz-option>
                                <nz-option nzValue="0" nzLabel="Không họat động"></nz-option>
                            </nz-select>
                        </nz-form-item>
                    </div>
                </div>
            </nz-page-header-content>
        </nz-page-header>
    </form>
</div>